
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body
{
   min-height: 100vh;
    background: linear-gradient(#bff899, #f7fce0);
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo
{
    color: #ffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li
{
    margin-left: 20px;
    list-style: none;
}

header ul li a
{
    font-size: 20px;
    text-decoration: none;
    padding: 10px 15px;
    color: #ffff;
    border-radius: 15px;
}

header ul li a:hover
{
    background: #fff;
}

section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* section::before
{
    content: ' ';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
    background: linear-gradient(to top, #c3fa9f,transparent);
    z-index: 1000;
} */

section img
{
    position: absolute;
    top: 0;
    left: 0;
    /* margin-left: 60%; */
    margin-top: 4%;
    object-fit:cover;
    pointer-events: none;
   
      
}
#veg2{
    /* margin-left: 60%; */
    margin-top: 10%;  
    
}
#veg3{
    position: absolute; 
    z-index: 50px;
    transform: translateY(100px);   
    /* z-index: 5; */
}

#text
{
    position: absolute;
    color: rgb(251, 252, 250);
    white-space: nowrap;
    font-size: 4vw;
    text-shadow: 2px 2px #2c3b02   
   
    
}

#btn
{
    position: absolute;
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #ffff;
    font-size: 1.5em;
    margin-top: 15%;  
    z-index: 9;
    transform: translateY(100px);    
}

.sec
{
    position: relative;
    width: 100%;
    padding: 50px;
    background: #bcfc91;

    
}

.sec h2
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: black;
}

.sec p
{
    font-size: 1.2em;
    color: black;
}

.sec1
{
    
    position: relative;
    width: 100%;
    height: 40vh;
    padding: 100px;
    display:flex;
    background: #bcfc9191;
   
}
.sec1 h2
{
    /* margin-top: ; */
    justify-content: center;
    align-items: center;
    font-size: 3.5em;
    margin-bottom: 10px;
    color: black;
}


.sec1 p
{
    font-size: 1.2em;
    color: black;
}

.sec2
{
    
    position: relative;
    width: 100%;
    height: 41vh;
    padding: 100px;
    display:flex;
    /* margin-top: ; */
    background: #bcfc9191;
   
}
.sec2 h2
{
    text-align: right;
    font-size: 3.5em;
    margin-bottom: 10px;
    color: black;
}


.sec2 p
{
    font-size: 1.2em;
    color: black;
}


